<div class="d-flex flex-row px-1">
    <button class="btn col-6 top-buttons active-button">Account Details</button>
    <button class="btn col-6 top-buttons" disabled>Personal Details</button>
</div>
<form class="container-fluid px-0" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="register-area d-flex flex-column px-3 py-4 px-lg-5 py-lg-5">
        <div *ngIf="submitted">
            <div *ngIf="registerForm.valid" class="alert alert-success">You have successfully registered</div>
        </div>
        <div class="form-wrapper form-group d-flex flex-row">
            <img src="../../assets/images/mail_icon.svg" alt="" />
            <div class="mail-label d-flex flex-column">
                <label for="email">
                    Email:
                    <input type="email" id="email" placeholder="example@myemail.com" formControlName="email" />
                </label>
                <label for="confirm-email">
                    Confirm email:
                    <input
                        type="email"
                        id="confirm-email"
                        placeholder="example@myemail.com"
                        formControlName="confirmEmail"
                    />
                </label>
            </div>
        </div>
        <div *ngIf="submitted">
            <div *ngIf="f.email.errors?.emailIsInvalid" class="alert alert-danger">Provide valid email</div>
            <div *ngIf="!f.email.errors?.emailIsInvalid && f.email.errors?.notAllowedEmail" class="alert alert-danger">
                This email is not allowed
            </div>
            <div
                *ngIf="registerForm.errors?.notMatch && f.confirmEmail.touched && !f.email.errors?.emailIsInvalid"
                class="alert alert-danger"
            >
                Emails don't match
            </div>
        </div>

        <div class="form-wrapper">
            <div class="password-wrapper form-group d-flex flex-row">
                <img src="../../assets/images/padlock_icon.svg" alt="" />
                <label for="password">
                    Password:
                    <input type="password" id="password" placeholder="........." formControlName="password" />
                </label>
            </div>
            <div *ngIf="submitted">
                <div *ngIf="f.password.errors?.wrongPassword" class="alert alert-danger">
                    Password must contain at least one number, at least 10, one uppercase and lowercase letter.
                </div>
            </div>
        </div>
        <div class="form-wrapper form-group d-flex flex-row">
            <img src="../../assets/images/pin_icon.svg" alt="" />
            <label for="pin" class="d-flex flex-row" id="pin-label">
                Pin:
                <div class="inputpin-wrapper" id="pin">
                    <input type="password" placeholder="*" class="pin" formControlName="pin1" />
                    <input type="password" placeholder="*" class="pin" formControlName="pin2" />
                    <input type="password" placeholder="*" class="pin" formControlName="pin3" />
                    <input type="password" placeholder="*" class="pin" formControlName="pin4" />
                    <input type="password" placeholder="*" class="pin" formControlName="pin5" />
                </div>
            </label>
        </div>
        <div>
            <div *ngIf="submitted">
                <div
                    *ngIf="
                        f.pin1.errors?.wrongPin ||
                        f.pin2.errors?.wrongPin ||
                        f.pin3.errors?.wrongPin ||
                        f.pin4.errors?.wrongPin ||
                        f.pin5.errors?.wrongPin
                    "
                    class="alert alert-danger"
                >
                    PIN should contain only numbers
                </div>
            </div>
        </div>
        <div class="form-wrapper form-group row checkbox">
            <label for="offers1" class="col-2 col-md-1">
                <input type="checkbox" id="offers1" />
            </label>
            <span class="col-10 col-md-11">
                I am happy to receive news and spacial offers from Landbay from time to time.
            </span>
        </div>
        <div class="form-wrapper form-group row checkbox">
            <label for="offers2" class="col-2 col-md-1">
                <input type="checkbox" id="offers2" formControlName="checkbox" />
            </label>
            <span class="col-10 col-md-11">
                Before you can proceed you must read and accept our
                <a href="https://landbay.co.uk/terms-and-conditions">Terms & Conditions</a> and confirm that you
                understand that this is an investment account and not a savings account. Your capital is at risk.
            </span>
        </div>
        <div *ngIf="submitted">
            <div *ngIf="f.checkbox.invalid" class="alert alert-danger">
                You have to accept Terms and Conditions to continue
            </div>
        </div>
        <div class="submit-btn mx-auto">
            <button type="submit" class="btn btn-danger">Continue</button>
        </div>
    </div>
</form>
