.top-buttons {
  border-radius: 0;
}

.active-button {
  border-bottom: 2px solid #000;
}

.register-area {
  height: 100%;
  background-color: #fff;
  border-style: solid;
  border-color: #d9e2e8;
  border-width: 0 1px 4px 1px;
  border-radius: 10px;

  .form-wrapper {

    img {
      width: 35px;
      height: 35px;
      margin-right: 10px;
    }

    label {
      width: 100%;

      &:after {
        content: "……………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………";
        letter-spacing: 2px;
        font-size: 3px;
        color: #000;
      }

      input {
        border: none;
        margin-left: 10px;
        width: 65%;

        &:focus {
          outline: none;
        }

        &.pin {
          width: 10%;
        }

        &::placeholder {
          color: gray;
        }
      }
    }

    #pin-label {
      &:after {
        display: none;
      }

      .inputpin-wrapper {
        margin-left: 10px;
        margin-top: 5px;

        input {
          width: 5%;
          height: 60%;
          padding: 0 3px;
          margin-left: 10px;
          border-bottom: 2px solid gray;
          text-align: center;
          font-size: 1.5rem;
        }
      }
    }
  }

  .checkbox {
    label {
      &:after {
        display: none;
      }
    }
  }
}
