.title {
    h5 {
        font-size: 0.85rem;
        font-weight: 400;
    }

    img {
        width: 70px;
        height: 40px;
    }

    .img-wrapper {
        img {
            display: none;
        }
    }
}
